<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="membersketch">
   	<insert id="sketchInsert">
	   	INSERT INTO USER_SKETCH
	   	VALUES (user_info_sequence.nextval, #{skuser_num},#{sk_img})
   </insert>
   <select id="usersketchselect" resultType="MemberVO">
	   	SELECT * FROM USER_INFO WHERE USER_ID = #{user_id}
   </select>
   <select id="userfilelist" resultType="MemberSketchVO">
	   	SELECT * FROM USER_SKETCH WHERE SKUSER_NUM = #{skuser_num}
   </select>
</mapper>